@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    padding: 10px;
    font-family: "Poppins", sans-serif;
}

.modal-backdrop {
    z-index: 1040 !important;
}
.offcanvas.offcanvas-start {
    z-index: 1050 !important; 
}


.dropdown-item:hover,
.dropdown-menu:hover{
    background-color: rgb(216, 28, 47) !important;
    transition: 200ms ease-in;
}

#condition {
    height: calc(2rem + 0.5em); 
    font-size: 1rem;
}

#activeListingsPill {
    height: calc(2rem + 0.5em); 
}

option {
    background-color: transparent; /* Make the options have a background that changes dynamically */
}

.card {
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

.card-img-top {
    border-radius: 16px;
    object-fit: contain; 
    object-position: center; 
    width: 100%; 
    max-height: 200px; 
}

.bg-glass {
    background: rgba(109, 232, 224, 0.8);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.bg-glass-green {
    background: rgba(97, 231, 7, 0.2);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    font-weight: bold; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.card-text{
    font-size: 0.7rem !important;
}
