{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center rounded-5 py-3 px-3 mb-3" style="background-color: #403d39;">
        <div>
            <h2 class="mb-0 text-light">Hello.</h2>
            <div class="text-light fw-light fs-5">{{ request.user.email }}</div>
        </div>
        <div class="fs-2 px-1 rounded-5 text-light" style="font-family: 'Dancing Script', cursive; background-color: #403d39;">BSMail</div>
    </div>
    <div class="p-3 rounded-5 rounded-bottom-0" style="background-color:#403d39;">
        <button class="btn btn-light m-1" id="inbox">Inbox <i class="fa-solid fa-inbox ms-3"></i> </button>
        <button class="btn btn-outline-light m-1" id="compose">Compose <i class="fa-solid fa-pen-to-square ms-3"></i></button>
        <button class="btn btn-outline-light m-1" id="sent">Sent <i class="fa-regular fa-paper-plane ms-3"></i></button>
        <button class="btn btn-outline-light m-1" id="archived">Archived <i class="fa-solid fa-box-archive ms-3"></i></button>
        <a class="btn btn-outline-warning m-1" href="{% url 'logout' %}">Log Out <i class="fa-solid fa-right-from-bracket ms-3"></i></a>
    </div>
    <div id="emails-view" class="rounded-5 rounded-top-0 p-3 mb-2 text-light" style="background-color:#403d39;">
    </div>

    <div id="email-details-view">
    </div>

    <div id="compose-view" class="rounded-5 rounded-top-0 p-4 mb-2 text-light" style="background-color:#403d39;">
        <h3><i class="fa-solid fa-pen-to-square me-2"></i> New Email</h3>
        <div class="p-2 rounded-3 my-2 text-dark text-center" id="response-div">
            <h6 class="fs-6 fw-bold" id="response"></h6>
        </div>
        <form id="compose-form">
            <div class="form-group mb-2">
              From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group mb-2">
              To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group mb-2">
              <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control mb-2" id="compose-body" placeholder="Body"></textarea>
            <div class="text-end">
              <button type="submit" class="btn btn-success">
                Send <i class="fa-regular fa-paper-plane ms-3"></i>
              </button>
            </div>
        </form>          
    </div>

    <div class="modal fade text-dark" id="replyModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Reply to Email</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="reply-form">
                <div class="mb-3">
                  <label for="reply-recipients" class="form-label">To:</label>
                  <input type="email" class="form-control" id="reply-recipients" readonly />
                </div>
                <div class="mb-3">
                  <label for="reply-subject" class="form-label">Subject:</label>
                  <input type="text" class="form-control" id="reply-subject" readonly />
                </div>
                <div class="mb-3">
                  <label for="reply-body" class="form-label">Body:</label>
                  <textarea
                    class="form-control"
                    id="reply-body"
                    rows="5"
                    style="white-space: pre-wrap;"
                  ></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel <i class="fa-solid fa-xmark ms-4"></i></button>
              <button type="button" class="btn btn-success" onclick="send_reply()">Send <i class="fa-regular fa-paper-plane ms-4"></i></button>
            </div>
          </div>
        </div>
    </div>      
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}